@{
    Layout = "~/Views/Shared/_Diagram.cshtml";    
}

<style>
    #cont {
        top:20%;
        width:100%;
    }
</style>

@section scripts{
    <script>
        $(function () {
            $(".tbl").draggable({
                stop: function (event, ui) { test(this) },
                containment: "#tabs", scroll:false

            });
        });

        function test(element){
            var ret = getPosition(element);
            //alert(ret);
        };
  </script>

}

<h2>Diagram</h2>

@foreach (var m in Model)
{
    foreach (var t in m.Tables)
    {
        <div id="tbl-@t.TableId" class="tbl">
            <header>@t.Name</header>
        <p>There is currently nothing to display in this tab.</p>
        </div>
    } 
}

