@{
    ViewBag.Title = "Events";
}

@Html.ActionLink("Create New Event", "Create", "Event")

@foreach (var e in Model)
{
    <p>@Html.ActionLink((string)@e.Name, "Details", new { id = @e.EventId})</p>
}
